* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 100px;
  margin: 0 auto;
  padding: 0 15px;
  float: left;
}

.block {
  width: 1000px;
  box-shadow: 0 0 5px 0 black;
  border-radius: 3px;
  margin-top: 50px;
  padding: 15px;
}

.block__list {
  margin-bottom: 30px;
}

.block__list-elem {
  border-bottom: 1px solid black;
  padding-bottom: 10xp;
  margin-bottom: 15px;
  font-family: fantasy;
  position: relative;
}

.block__list-elem:hover > .block__list-delete {
  opacity: 1;
}

.block__list-delete {
  position: absolute;
  right: 0;
  top: 0;
  background-color: red;
  color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 3px;
  width: 15%;
  line-height: 20px;
  text-align: center;
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.block__form:after {
  content: '';
  display: table;
  clear: both;
}

.block__form-input {
  float: left;
  display: block;
  width: 35%;
  height: 25px;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.block__form-input-ltl {
  float: left;
  display: block;
  width: 15%;
  height: 25px;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.block__form-btn {
  display: block;
  float: right;
  width: 15%;
  line-height: 25px;
  text-align: center;
  border: none;
  outline: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  background-color: blue;
}
